body {
  background-color: #f5f7fb;
  font-family: 'Spoqa Han Sans';
}

.app > .container {
  margin: 8em 0;
}

.ui.cards > .card,
.ui.table {
  border: 1px solid rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.content-statistic {
  text-align: center;
}

a,
a:hover {
  color: inherit;
}

.top-navigation {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  font-weight: 400;
  font-size: 1.6em;
  line-height: 3em;
  font-family: 'Lato';
  z-index: 999;
  color: #495057;
}

.top-navigation .logo-area {
  display: inline-block;
}

.content-header {
  display: flex;
  line-height: 2em;
  justify-content: space-between;
}

.content-statistic .ui.card,
.ui.cards > .card {
  padding: 1em;
}

.content-title {
  font-size: 1.3em;
  line-height: 2em;
}

.list-table p {
  margin-bottom: 0;
  line-height: 1.6em;
}

.list-table .group-name {
  font-weight: 600;
}

.list-table .ui.mini.label.program-type-label,
.ui.mini.labels .label.program-type-label {
  min-width: 50px;
  margin-right: 1em;
}

.list-table span {
  line-height: 1.6em;
}

.ui.table td.empty-table {
  text-align: center;
  line-height: 5em;
  color: #999;
}

.modal-header-desc {
  font-weight: 400;
  font-size: 14px;
}

.afftected-cnt span {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
}

.loader > div {
  position: fixed !important;
}
